# Install polars

In [ ]:
!pip install polars

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: polars in /usr/local/lib/python3.10/dist-packages (0.17.3)
Requirement already satisfied: typing_extensions>=4.0.1 in /usr/local/lib/python3.10/dist-packages (from polars) (4.5.0)

In [ ]:
import polars as pl

# Series & DataFrames

# Series

In [ ]:
import polars as pl

my_series = pl.Series("a", [1, 2, 3, 4, 5])
print(my_series)

shape: (5,)
Series: 'a' [i64]
[
	1
	2
	3
	4
	5
]

### Methods: AGGREGATIONS

In [ ]:
my_series = pl.Series("a", [1, 2, 3, 4, 5])
print(my_series.min())
print(my_series.max())

1
5

### Methods: STRING

In [ ]:
my_series = pl.Series("a", ["polar", "bear", "arctic", "polar fox", "polar bear"])
my_series_2 = my_series.str.replace("polar", "pola")
print(my_series_2)

shape: (5,)
Series: 'a' [str]
[
	"pola"
	"bear"
	"arctic"
	"pola fox"
	"pola bear"
]

# Methods: DATETIME

In [ ]:
from datetime import datetime

t_start = datetime(2001, 1, 1)
t_stop = datetime(2001, 1, 9)
my_series = pl.date_range(t_start, t_stop, interval="2d")
my_series.dt.day()
print(my_series)

shape: (5,)
Series: '' [datetime[μs]]
[
	2001-01-01 00:00:00
	2001-01-03 00:00:00
	2001-01-05 00:00:00
	2001-01-07 00:00:00
	2001-01-09 00:00:00
]

## DataFrame

In [ ]:
df = pl.DataFrame(
    {
        "integer": [1, 2, 3, 4, 5],
        "date": [
            datetime(2022, 1, 1),
            datetime(2022, 1, 2),
            datetime(2022, 1, 3),
            datetime(2022, 1, 4),
            datetime(2022, 1, 5),
        ],
        "float": [4.0, 5.0, 6.0, 7.0, 8.0],
    }
)

print(df)

shape: (5, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 1       ┆ 2022-01-01 00:00:00 ┆ 4.0   │
│ 2       ┆ 2022-01-02 00:00:00 ┆ 5.0   │
│ 3       ┆ 2022-01-03 00:00:00 ┆ 6.0   │
│ 4       ┆ 2022-01-04 00:00:00 ┆ 7.0   │
│ 5       ┆ 2022-01-05 00:00:00 ┆ 8.0   │
└─────────┴─────────────────────┴───────┘

In [ ]:
df.head(3)

shape: (3, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 1       ┆ 2022-01-01 00:00:00 ┆ 4.0   │
│ 2       ┆ 2022-01-02 00:00:00 ┆ 5.0   │
│ 3       ┆ 2022-01-03 00:00:00 ┆ 6.0   │
└─────────┴─────────────────────┴───────┘

In [ ]:
df.tail(3)

shape: (3, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 3       ┆ 2022-01-03 00:00:00 ┆ 6.0   │
│ 4       ┆ 2022-01-04 00:00:00 ┆ 7.0   │
│ 5       ┆ 2022-01-05 00:00:00 ┆ 8.0   │
└─────────┴─────────────────────┴───────┘

In [ ]:
df.describe()

shape: (9, 4)
┌────────────┬──────────┬────────────────────────────┬──────────┐
│ describe   ┆ integer  ┆ date                       ┆ float    │
│ ---        ┆ ---      ┆ ---                        ┆ ---      │
│ str        ┆ f64      ┆ str                        ┆ f64      │
╞════════════╪══════════╪════════════════════════════╪══════════╡
│ count      ┆ 5.0      ┆ 5                          ┆ 5.0      │
│ null_count ┆ 0.0      ┆ 0                          ┆ 0.0      │
│ mean       ┆ 3.0      ┆ null                       ┆ 6.0      │
│ std        ┆ 1.581139 ┆ null                       ┆ 1.581139 │
│ min        ┆ 1.0      ┆ 2022-01-01 00:00:00.000000 ┆ 4.0      │
│ max        ┆ 5.0      ┆ 2022-01-05 00:00:00.000000 ┆ 8.0      │
│ median     ┆ 3.0      ┆ null                       ┆ 6.0      │
│ 25%        ┆ 2.0      ┆ null                       ┆ 5.0      │
│ 75%        ┆ 4.0      ┆ null                       ┆ 7.0      │
└────────────┴──────────┴────────────────────────────┴──────────┘

# Reading & Writing

In [ ]:
df = pl.DataFrame(
    {
        "integer": [1, 2, 3],
        "date": [
            datetime(2022, 1, 1),
            datetime(2022, 1, 2),
            datetime(2022, 1, 3),
        ],
        "float": [4.0, 5.0, 6.0],
    }
)

df

shape: (3, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 1       ┆ 2022-01-01 00:00:00 ┆ 4.0   │
│ 2       ┆ 2022-01-02 00:00:00 ┆ 5.0   │
│ 3       ┆ 2022-01-03 00:00:00 ┆ 6.0   │
└─────────┴─────────────────────┴───────┘

In [ ]:
# write csv
df.write_csv("output.csv")
df_csv = pl.read_csv("output.csv")

df_csv

shape: (3, 3)
┌─────────┬────────────────────────────┬───────┐
│ integer ┆ date                       ┆ float │
│ ---     ┆ ---                        ┆ ---   │
│ i64     ┆ str                        ┆ f64   │
╞═════════╪════════════════════════════╪═══════╡
│ 1       ┆ 2022-01-01T00:00:00.000000 ┆ 4.0   │
│ 2       ┆ 2022-01-02T00:00:00.000000 ┆ 5.0   │
│ 3       ┆ 2022-01-03T00:00:00.000000 ┆ 6.0   │
└─────────┴────────────────────────────┴───────┘

In [ ]:
# Read csv 
df_csv = pl.read_csv("output.csv", try_parse_dates=True)
print(df_csv)

shape: (3, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 1       ┆ 2022-01-01 00:00:00 ┆ 4.0   │
│ 2       ┆ 2022-01-02 00:00:00 ┆ 5.0   │
│ 3       ┆ 2022-01-03 00:00:00 ┆ 6.0   │
└─────────┴─────────────────────┴───────┘

In [ ]:
# write & read json 
df.write_json("output.json")
df_json = pl.read_json("output.json")

df_json

shape: (3, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 1       ┆ 2022-01-01 00:00:00 ┆ 4.0   │
│ 2       ┆ 2022-01-02 00:00:00 ┆ 5.0   │
│ 3       ┆ 2022-01-03 00:00:00 ┆ 6.0   │
└─────────┴─────────────────────┴───────┘

# Expressions

In [ ]:
df.select(pl.col("*"))

shape: (3, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 1       ┆ 2022-01-01 00:00:00 ┆ 4.0   │
│ 2       ┆ 2022-01-02 00:00:00 ┆ 5.0   │
│ 3       ┆ 2022-01-03 00:00:00 ┆ 6.0   │
└─────────┴─────────────────────┴───────┘

In [ ]:
df.select(pl.col(["integer", "float"]))

shape: (3, 2)
┌─────────┬───────┐
│ integer ┆ float │
│ ---     ┆ ---   │
│ i64     ┆ f64   │
╞═════════╪═══════╡
│ 1       ┆ 4.0   │
│ 2       ┆ 5.0   │
│ 3       ┆ 6.0   │
└─────────┴───────┘

In [ ]:
df.select([pl.col("integer"), pl.col("float")]).limit(2)

shape: (2, 2)
┌─────────┬───────┐
│ integer ┆ float │
│ ---     ┆ ---   │
│ i64     ┆ f64   │
╞═════════╪═══════╡
│ 1       ┆ 4.0   │
│ 2       ┆ 5.0   │
└─────────┴───────┘

In [ ]:
df.select([pl.exclude("integer")])

shape: (3, 2)
┌─────────────────────┬───────┐
│ date                ┆ float │
│ ---                 ┆ ---   │
│ datetime[μs]        ┆ f64   │
╞═════════════════════╪═══════╡
│ 2022-01-01 00:00:00 ┆ 4.0   │
│ 2022-01-02 00:00:00 ┆ 5.0   │
│ 2022-01-03 00:00:00 ┆ 6.0   │
└─────────────────────┴───────┘

In [ ]:
# filter 
df.filter(
    pl.col("float").is_between(4, 5),
)

shape: (2, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 1       ┆ 2022-01-01 00:00:00 ┆ 4.0   │
│ 2       ┆ 2022-01-02 00:00:00 ┆ 5.0   │
└─────────┴─────────────────────┴───────┘

In [ ]:
import numpy as np 

df = pl.DataFrame(
    {
        "integer": [1, 2, 3, 4, 5, 6, 7],
        "date": [
            datetime(2022, 1, 1),
            datetime(2022, 1, 2),
            datetime(2022, 1, 3),
            datetime(2022, 1, 4),
            datetime(2022, 1, 5),
            datetime(2022, 1, 6),
            datetime(2022, 1, 7),
        ],
        "float": [4.0, 5.0, 6.0, 7.0, np.nan, np.nan, 9.0],
    }
)

df

shape: (7, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 1       ┆ 2022-01-01 00:00:00 ┆ 4.0   │
│ 2       ┆ 2022-01-02 00:00:00 ┆ 5.0   │
│ 3       ┆ 2022-01-03 00:00:00 ┆ 6.0   │
│ 4       ┆ 2022-01-04 00:00:00 ┆ 7.0   │
│ 5       ┆ 2022-01-05 00:00:00 ┆ NaN   │
│ 6       ┆ 2022-01-06 00:00:00 ┆ NaN   │
│ 7       ┆ 2022-01-07 00:00:00 ┆ 9.0   │
└─────────┴─────────────────────┴───────┘

In [ ]:
df.filter((pl.col("integer") > 3) & (pl.col("float").is_not_nan()))

shape: (2, 3)
┌─────────┬─────────────────────┬───────┐
│ integer ┆ date                ┆ float │
│ ---     ┆ ---                 ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   │
╞═════════╪═════════════════════╪═══════╡
│ 4       ┆ 2022-01-04 00:00:00 ┆ 7.0   │
│ 7       ┆ 2022-01-07 00:00:00 ┆ 9.0   │
└─────────┴─────────────────────┴───────┘

**with_columns** cho phép chúng ta tạo thêm 1 cột mới trong quá trình xử lý dữ liệu

In [ ]:
df = df.with_columns([pl.col("integer").sum().alias("sum"), (pl.col("float") - 1).alias("sub-1")])

In [ ]:
# Group_by 
df2 = pl.DataFrame(
    {
        "x": np.arange(0, 8),
        "y": ["A", "A", "A", "B", "B", "C", "X", "X"],
    }
)

df2

shape: (8, 2)
┌─────┬─────┐
│ x   ┆ y   │
│ --- ┆ --- │
│ i64 ┆ str │
╞═════╪═════╡
│ 0   ┆ A   │
│ 1   ┆ A   │
│ 2   ┆ A   │
│ 3   ┆ B   │
│ 4   ┆ B   │
│ 5   ┆ C   │
│ 6   ┆ X   │
│ 7   ┆ X   │
└─────┴─────┘

In [ ]:
df2.groupby("y", maintain_order=True).count()

shape: (4, 2)
┌─────┬───────┐
│ y   ┆ count │
│ --- ┆ ---   │
│ str ┆ u32   │
╞═════╪═══════╡
│ A   ┆ 3     │
│ B   ┆ 2     │
│ C   ┆ 1     │
│ X   ┆ 2     │
└─────┴───────┘

In [ ]:
df2.groupby("y", maintain_order=True).agg(
    [
        pl.col("*").count().alias("count"),
        pl.col("*").sum().alias("sum"),
    ]
)

shape: (4, 3)
┌─────┬───────┬─────┐
│ y   ┆ count ┆ sum │
│ --- ┆ ---   ┆ --- │
│ str ┆ u32   ┆ i64 │
╞═════╪═══════╪═════╡
│ A   ┆ 3     ┆ 3   │
│ B   ┆ 2     ┆ 7   │
│ C   ┆ 1     ┆ 5   │
│ X   ┆ 2     ┆ 13  │
└─────┴───────┴─────┘

In [ ]:
df

shape: (7, 5)
┌─────────┬─────────────────────┬───────┬─────┬───────┐
│ integer ┆ date                ┆ float ┆ sum ┆ sub-1 │
│ ---     ┆ ---                 ┆ ---   ┆ --- ┆ ---   │
│ i64     ┆ datetime[μs]        ┆ f64   ┆ i64 ┆ f64   │
╞═════════╪═════════════════════╪═══════╪═════╪═══════╡
│ 1       ┆ 2022-01-01 00:00:00 ┆ 4.0   ┆ 28  ┆ 3.0   │
│ 2       ┆ 2022-01-02 00:00:00 ┆ 5.0   ┆ 28  ┆ 4.0   │
│ 3       ┆ 2022-01-03 00:00:00 ┆ 6.0   ┆ 28  ┆ 5.0   │
│ 4       ┆ 2022-01-04 00:00:00 ┆ 7.0   ┆ 28  ┆ 6.0   │
│ 5       ┆ 2022-01-05 00:00:00 ┆ NaN   ┆ 28  ┆ NaN   │
│ 6       ┆ 2022-01-06 00:00:00 ┆ NaN   ┆ 28  ┆ NaN   │
│ 7       ┆ 2022-01-07 00:00:00 ┆ 9.0   ┆ 28  ┆ 8.0   │
└─────────┴─────────────────────┴───────┴─────┴───────┘

In [ ]:
df_x = df.with_columns((pl.col("integer") * pl.col("sum")).alias("integer * sum")).select(
    [pl.all().exclude(["date", "float"])]
)

df_x

shape: (7, 4)
┌─────────┬─────┬───────┬───────────────┐
│ integer ┆ sum ┆ sub-1 ┆ integer * sum │
│ ---     ┆ --- ┆ ---   ┆ ---           │
│ i64     ┆ i64 ┆ f64   ┆ i64           │
╞═════════╪═════╪═══════╪═══════════════╡
│ 1       ┆ 28  ┆ 3.0   ┆ 28            │
│ 2       ┆ 28  ┆ 4.0   ┆ 56            │
│ 3       ┆ 28  ┆ 5.0   ┆ 84            │
│ 4       ┆ 28  ┆ 6.0   ┆ 112           │
│ 5       ┆ 28  ┆ NaN   ┆ 140           │
│ 6       ┆ 28  ┆ NaN   ┆ 168           │
│ 7       ┆ 28  ┆ 8.0   ┆ 196           │
└─────────┴─────┴───────┴───────────────┘

# Combine DF

In [ ]:
# Join 
df = pl.DataFrame(
    {
        "a": np.arange(0, 8),
        "b": np.random.rand(8),
        "d": [1, 2.0, np.NaN, np.NaN, 0, -5, -42, None],
    }
)

df2 = pl.DataFrame(
    {
        "x": np.arange(0, 8),
        "y": ["A", "A", "A", "B", "B", "C", "X", "X"],
    }
)

df_joined = df.join(df2, left_on="a", right_on="x")

df_joined

shape: (8, 4)
┌─────┬──────────┬───────┬─────┐
│ a   ┆ b        ┆ d     ┆ y   │
│ --- ┆ ---      ┆ ---   ┆ --- │
│ i64 ┆ f64      ┆ f64   ┆ str │
╞═════╪══════════╪═══════╪═════╡
│ 0   ┆ 0.748164 ┆ 1.0   ┆ A   │
│ 1   ┆ 0.200531 ┆ 2.0   ┆ A   │
│ 2   ┆ 0.035221 ┆ NaN   ┆ A   │
│ 3   ┆ 0.267183 ┆ NaN   ┆ B   │
│ 4   ┆ 0.804834 ┆ 0.0   ┆ B   │
│ 5   ┆ 0.418853 ┆ -5.0  ┆ C   │
│ 6   ┆ 0.322342 ┆ -42.0 ┆ X   │
│ 7   ┆ 0.085542 ┆ null  ┆ X   │
└─────┴──────────┴───────┴─────┘

# Polars & Pandas

In [ ]:
import pandas as pd

In [ ]:
import os 
os.environ['KAGGLE_USERNAME'] = '' # username from the json file
os.environ['KAGGLE_KEY'] = '' # key from the json file

!kaggle datasets download -d openfoodfacts/world-food-facts

Downloading world-food-facts.zip to /content
 89% 97.0M/109M [00:01<00:00, 102MB/s]
100% 109M/109M [00:01<00:00, 95.5MB/s]

In [ ]:
!unzip world-food-facts.zip

Archive:  world-food-facts.zip
  inflating: en.openfoodfacts.org.products.tsv

In [ ]:
!pip install ipython-autotime
%load_ext autotime

In [ ]:
%time
pd_df = pd.read_csv("en.openfoodfacts.org.products.tsv", sep="\t")

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.63 µs

<ipython-input-68-b94b7d77fa98>:2: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  pd_df = pd.read_csv("en.openfoodfacts.org.products.tsv", sep="\t")

time: 25.2 s (started: 2023-05-08 04:33:32 +00:00)

In [ ]:
pl_df = pl.read_csv("en.openfoodfacts.org.products.tsv")

time: 4.84 s (started: 2023-05-08 04:34:40 +00:00)

In [ ]:
!kaggle competitions download -c fake-news

Downloading fake-news.zip to /content
 82% 38.0M/46.5M [00:00<00:00, 110MB/s]
100% 46.5M/46.5M [00:00<00:00, 94.0MB/s]
time: 1.51 s (started: 2023-05-08 04:47:23 +00:00)

In [ ]:
!unzip fake-news.zip

Archive:  fake-news.zip
  inflating: submit.csv
  inflating: test.csv
  inflating: train.csv
time: 1.63 s (started: 2023-05-08 04:47:38 +00:00)

In [ ]:
pd_df = pd.read_csv("train.csv")

time: 1.45 s (started: 2023-05-08 04:48:01 +00:00)

In [ ]:
pl_df = pl.read_csv("train.csv")

time: 1.05 s (started: 2023-05-08 04:48:15 +00:00)

In [ ]:
pd_df.describe()

                 id         label
count  20800.000000  20800.000000
mean   10399.500000      0.500625
std     6004.587135      0.500012
min        0.000000      0.000000
25%     5199.750000      0.000000
50%    10399.500000      1.000000
75%    15599.250000      1.000000
max    20799.000000      1.000000

time: 56.1 ms (started: 2023-05-08 04:48:25 +00:00)

In [ ]:
pl_df.describe()

shape: (9, 6)
┌────────────┬─────────────┬────────────────────┬──────────────────┬────────────────┬──────────┐
│ describe   ┆ id          ┆ title              ┆ author           ┆ text           ┆ label    │
│ ---        ┆ ---         ┆ ---                ┆ ---              ┆ ---            ┆ ---      │
│ str        ┆ f64         ┆ str                ┆ str              ┆ str            ┆ f64      │
╞════════════╪═════════════╪════════════════════╪══════════════════╪════════════════╪══════════╡
│ count      ┆ 20800.0     ┆ 20800              ┆ 20800            ┆ 20800          ┆ 20800.0  │
│ null_count ┆ 0.0         ┆ 558                ┆ 0                ┆ 39             ┆ 0.0      │
│ mean       ┆ 10399.5     ┆ null               ┆ null             ┆ null           ┆ 0.500625 │
│ std        ┆ 6004.587135 ┆ null               ┆ null             ┆ null           ┆ 0.500012 │
│ min        ┆ 0.0         ┆ "Allahu Akbar, the ┆ # 1 NWO Hatr     ┆                ┆ 0.0      │
│            ┆             ┆ Russians are …     ┆                  ┆                ┆          │
│ max        ┆ 20799.0     ┆ 🚨Bill Clinton and ┆ “Shoot First Ask ┆ 🚨Bill Clinton ┆ 1.0      │
│            ┆             ┆ Hillary Lolita…    ┆ Questions Later… ┆ and Hillary    ┆          │
│            ┆             ┆                    ┆                  ┆ Lolita…        ┆          │
│ median     ┆ 10399.5     ┆ null               ┆ null             ┆ null           ┆ 1.0      │
│ 25%        ┆ 5200.0      ┆ null               ┆ null             ┆ null           ┆ 0.0      │
│ 75%        ┆ 15600.0     ┆ null               ┆ null             ┆ null           ┆ 1.0      │
└────────────┴─────────────┴────────────────────┴──────────────────┴────────────────┴──────────┘

time: 36.3 ms (started: 2023-05-08 04:48:37 +00:00)